<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>
      <a href="/products/create">Create new product</a>
    </p>

    <form>
      <input type="text" name="keyword" placeholder="Search product" />
      <label>Urutkan berdasarkan:</label>
      
      <select name="order">
        <option value="name">Nama</option>
        <option value="price">Harga</option>
        <option value="stock">Stock</option>
      </select>

      <select name="sort">
        <option value="asc">A - Z</option>
        <option value="desc">Z - A</option>
      </select>
      <button type="submit">Filter</button>
    </form>

    <br>

    <p>Menampilkan <%= total %> produk</p>

    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% products.forEach((p, i) => { %>
        <tr>
          <td><%= skip + (i + 1) %></td>
          <td>
            <a href="/products/<%= p.id %>"> <%= p.name %> </a>
          </td>
          <td><%= p.price %></td>
          <td><%= p.stock %></td>
          <td>
            <a href="/products/<%= p.id %>/delete">Hapus</a> | 
            <a href="/products/<%= p.id %>/edit">Edit</a>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>

    <p>
      <% if (page > 1) { %>
        <a href="?page=<%= page - 1 %>">&larr; Prev</a>
      <% } %>
      | 
      <% if (page < totalPage) { %>
        <a href="?page=<%= page + 1 %>">Next &rarr;</a>
      <% } %>
    </p>
  </body>
</html>
